<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>464964861134-99tpqn4qkukc965djtqbdlnumspccbbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464964861134-99tpqn4qkukc965djtqbdlnumspccbbj</string>
	<key>API_KEY</key>
	<string>AIzaSyBtIwXnh8BSJNqyMvfjbzi1idNd0ZS0szY</string>
	<key>GCM_SENDER_ID</key>
	<string>464964861134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Siddharth.lab-6</string>
	<key>PROJECT_ID</key>
	<string>teamplayer-93091</string>
	<key>STORAGE_BUCKET</key>
	<string>teamplayer-93091.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:464964861134:ios:cba03faa49f0c72d</string>
	<key>DATABASE_URL</key>
	<string>https://teamplayer-93091.firebaseio.com</string>
</dict>
</plist>
